* {
	text-align: center;
	background-color: black;
	color: gray;
	margin: 0;
}

.title {
	font-size: 300%;
	color: skyblue;
	background-color: whitesmoke;
}

a {
	display: inline-block;
	font-size: 200%;
}